<% content_for :left_nav do%>
  <%= render :partial => 'shared/navbar', :locals => { :game => @game } %>
<% end %>

<% content_for :page_name do %>
  Редактировать знаменитость
<% end %>

<%= render :partial => 'shared/error_messages', :locals => { :target => @person } %>

<%= form_for @person, :as => :person, :url => person_path(@person), :method => :put, :html => {:class => "form-horizontal", :role => "form"} do |f| %>
  <%= render :partial => 'shared/person_form', :locals => { :f => f } %>

  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit "Изменить", :class => "btn btn-default"%>
    </div>
  </div>
<% end %>

<%= render :partial => 'shared/synonym_index', :locals => { :person => @person } %>