<%= render :partial => 'shared/error_messages', :locals => { :target => @person } %>

<% content_for :page_name do %>
  Создать знаменитость
<% end %>

<%= form_for @person, :url => people_path, :html => {:class => "form-horizontal", :role => "form"} do |f| %>
  <%= render :partial => 'shared/person_form', :locals => { :f => f } %>

  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= link_to people_path , :class => "btn btn-default" do %>
        <span class="glyphicon glyphicon-arrow-left"></span> Назад
      <% end %>
      
      <%= button_tag(type: 'submit', class: "btn btn-default") do %>
        <span class="glyphicon glyphicon-ok"></span> Создать
      <% end %>		
    </div>
  </div>
<% end %>

<%= render :partial => 'shared/synonym_index', :locals => { :person => nil } %>