<%= render :partial => 'shared/navbar', :locals => { :game => @game } %>
Игра от <%= @game.date %> (время проведения с <%= @game.timeb %> по <%= @game.timee %>)<br/>
<%= form_for Person.new, :as => :person, :url => game_persons_path, :html => {:class => "form-inline", :role => "form"} do |f| %>
  <div class="form-group">
    <%= f.label :name, "Введите персонажа:", :class => "sr-only" %>
    <%= f.text_field :name, :class => "form-control", :placeholder => "Введите персонажа" %>
  </div>
  <%= f.submit "Добавить", :class => "btn btn-default" %>
<% end %>


<%= link_to 'Посмотреть результаты игры.', game_twitts_path(@game) %>

<% if @people.present? %>
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Персоны</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<% @people.each do |person| %>
				<tr>
					<td>
						<%= "#{person.name}" %>
					</td>
					<td>
						<%= link_to 'Удалить', [@game, person], method: :delete %>
					</td>
				</tr>
			<% end %>
		</tbody>
	</table>
<% else %>
	<p>
		Ни однго персонажа еще нет
	</p>
<% end %>