<% content_for :left_nav do%>
  <%= render :partial => 'shared/navbar', :locals => { :game => @game } %>
<% end %>

<%= content_for :page_name do %>
	Знаменитости
<% end %>

<%= content_for :page_actions do %>
	<%= link_to new_game_person_path(@game) , :class => "btn btn-success" do %>
		<span class="glyphicon glyphicon-plus"></span> Добавить знаменитость
	<% end %>
<% end %>

<% if @people.present? %>
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Знаменитости</th>
				<th></th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<% @people.each do |person| %>
				<tr>
					<td>
						<%= "#{person.name}" %>
					</td>
					<td>
						<%= link_to 'Редактировать', edit_person_path(person, :game_id => @game.id) %>
					</td>
					<td>
						<%= link_to 'Удалить', [@game, person], method: :delete %>
					</td>
				</tr>
			<% end %>
		</tbody>
	</table>
<% else %>
	<p>
		Ни одной знаменитости еще нет
	</p>
<% end %>