Игра от <%= @game.date %> (время проведения с <%= @game.timeb %> по <%= @game.timee %>)</br>
<%= form_for Person.new, :as => :person, :url => game_persons_path do |f| %>
  <%= f.label :name, "Введите персонажа:" %>
  <%= f.text_field :name %>
  <%= f.submit "Добавить" %>
<% end %>
<%= link_to 'Посмотреть результаты игры.', game_twitts_path(@game) %>

<% if @people.present? %>
	<table>
		<thead>
			<tr>
				<th>Персоны</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<% @people.each do |person| %>
				<tr class="<%= cycle('even', 'odd') %>">
					<td>
						<%= "#{person.name}" %>
					</td>
					<td>
						<%= link_to 'Удалить', [@game, person], method: :delete %>
					</td>
				</tr>
			<% end %>
		</tbody>
	</table>
<% else %>
	<p>
		Ни однго персонажа еще нет
	</p>
<% end %>