<%= link_to "Получить результаты", go_game_path(@game)%>

</br>
<% if @winners.present? %>
	Первыми ответили:
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Автор</th>
				<th>Знаменитость</th>
			</tr>
		</thead>
		<tbody>
			<% @winners.each do |w| %>
				<tr>
					<td>
						<%= "#{w[:from_user]}" %>
					</td>
					<td>
						<%= "#{w[:person]}" %>
					</td>
				</tr>
			<% end %>
		</tbody>
	</table>
<% end %>

</br>
<% if @twitts.present? %>
	Перечень твиттов:
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Время</th>
				<th>Твитт</th>
				<th>Автор</th>
				<th>Определившаяся знаменитость</th>
				<th>Первый</th>
			</tr>
		</thead>
		<tbody>
			<% @twitts.each do |twitt| %>
				<tr>
					<td>
						<%= "#{twitt.ddate.in_time_zone('Moscow').strftime('%H:%M:%S')}" %>
					</td>
					<td>
						<%= "#{twitt.text }" %>
					</td>
					<td>
						<%= "#{twitt.from_user}" %>
					</td>
					<td>
						<%= "#{twitt.people.map{|p| p.name}.join('; ')}" %>
					</td>
					<td>
						<%= "#{twitt.first_people_to_s}" %>
					</td>
				</tr>
			<% end %>
		</tbody>
	</table>
<% end %>