Игры:</br>
<% if @games.present? %>
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Дата</th>
				<th>Время начала</th>
				<th>Время конца</th>
				<th></th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<% @games.each do |game| %>
				<tr class="<%= cycle('even', 'odd') %>">
					<td>
						<%= "#{game.date}" %>
					</td>
					<td>
						<%= "#{game.timeb}" %>
					</td>
					<td>
						<%= "#{game.timee}" %>
					</td>
					<td>
						<%= link_to 'Редактировать', edit_game_path(game) %>
					</td>
					<td>
						<%= link_to 'Удалить', game_path(game), method: :delete %>
					</td>
				</tr>
			<% end %>
		</tbody>
	</table>
<% else %>
	<p>
		Ни одной игры еще нет
	</p>
<% end %>
<%= link_to "Создать новую", new_game_path %>
