<%= form_for @game, :url => games_path, :html => {:class => "form-horizontal", :role => "form"} do |f| %>
  <div class="form-group">
    <%= f.label :date, "Дата", :class => "col-lg-2 control-label" %>
    <div class="col-lg-10">
      <%= f.text_field :date, :class => "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :timeb, "Время начала", :class => "col-lg-2 control-label" %>
    <div class="col-lg-10">
      <%= f.text_field :timeb, :class => "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :timee, "Время конца", :class => "col-lg-2 control-label" %>
    <div class="col-lg-10">
      <%= f.text_field :timee, :class => "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit "Создать", :class => "btn btn-default"%>
    </div>
  </div>
<% end %>