<!DOCTYPE html>
<html>
<head>
  <title>Shig</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	
  <ul class="nav nav-tabs">
    <li><%= link_to 'Игры', games_path %></li>
    <li><%= link_to 'Знаменитости', people_path %></li>
  </ul>

  <div class="row">
  	<div class="col-md-2">
      <%= yield :left_nav%>
  	</div>
	<div class="col-md-8">
      <%= yield %>
    </div>
  </div>

</body>
</html>
